/* Custom CSS Code */

li {
	display: inline;
	padding: 20px ;
}
body{
	background-image: url("../images/bamboo-texture.jpg");
}

section {
	color: #000;

}

h2 {
	padding: 20px;
	
}
h3 {
	padding:20px;
}
h4 {
	padding: 20px;
}